
<%= form.error_messages %>

<div class="lcol">
	<% if @group.picture.exists? %>
    <%= image_tag @group.picture.url(:small) %>
  <% end %>
<%= form.input :picture %>
  
	</div>
<div class="rcol">
<%= form.input :name %>
<%= form.input :description %>
<%= form.buttons %>
</div>
