<h1>Edit Profile</h1>

<% semantic_form_for @user, :html => {:multipart => true} do |form| %>
<div class="lcol">
  <%= form.input :picture %>

	<% if @user.picture.exists? %>
    <%= image_tag @user.picture.url(:small) %>
  <% end %>
 
	</div>
<div class="rcol">  
<%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :gender, :as => :select, :collection => ["male", "female"] %>
  <% form.semantic_fields_for :address do |address| %>
    <%= address.input :line_1 %>
    <%= address.input :line_2 %>
    <%= address.input :city %>
    <%= address.input :state %>
    <%= address.input :zip %>
  <% end %>
  <%= form.input :email %>
  <%= form.input :phone_number %>
  <%= form.input :life_status %>
  <%= form.input :movies, :label => 'Favorite Movies' %>
  <%= form.input :books, :label => 'Favorite Books' %>
  <%= form.buttons %>
<% end %>

</div>