<h1>Edit Profile</h1>

<% semantic_form_for @user, :html => {:multipart => true} do |form| %>
  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :picture %>
  <% if @user.picture.exists? %>
    <%= image_tag @user.picture.url(:small) %>
  <% end %>
  <%= form.input :gender, :as => :select, :collection => ["male", "female"] %>
  <% form.semantic_fields_for :address do |address| %>
    <%= address.input :line_1 %>
    <%= address.input :line_2 %>
    <%= address.input :city %>
    <%= address.input :state %>
    <%= address.input :zip %>
  <% end %>
  <%= form.buttons %>
<% end %>
