<h1> Profile </h1>
<p><%= image_tag @user.picture.url(:profile) %></p>
<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Life Status: <%= @user.life_status %></p>
<p>Address: <%= @user.address.one_string %></p>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone_number %></p>
<p>Favorite Movies: <%= @user.movies %></p>
<p>Favorite Books: <%= @user.books %></p>
<% if current_user == @user %>
  <%= link_to 'Edit Profile', edit_user_path(current_user) %>
<% end %>





<h1> Friends </h1>
<% @user.friends.each do |friend| %>
  <p><%= image_tag friend.picture.url(:small)%>  <%= link_to "#{friend.full_name}", user_path(friend)%></p>
<% end %>
<% if @user.friends.empty? %>
  No friends yet
<% end %>
<% if current_user == @user %>
  <%= link_to 'Find friends', users_path %>
  <%= link_to 'Manage friendships', users_path %>
<% end %> 





<h1> Groups </h1>
<% @user.groups.each do |group| %>
  <p><%= image_tag group.picture.url(:small)%> <%= link_to group.name, group_path(group) %><p>
<% end %>
<% if @user.friends.empty? %>
  No groups yet
<% end %>
<% if current_user == @user %>
  <%= link_to 'Find groups', groups_path %>
  <%= link_to 'Manage groups', groups_path %>
<% end %> 




<h1> Albums </h1>
<% @user.albums.each do |album| %>
  <p><%= link_to album.name, user_album_path(@user, album) %></p>
<% end %>
<% if @user.albums.empty? %>
  No Albums yet
<% end %>
<% if current_user == @user %>
  <%= link_to 'Create New Album', new_user_album_path(current_user) %>
<% end %> 
