<h1> Profile </h1>
<p><%= image_tag @user.picture.url(:small) %></p>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.address.line_1 %></p>
<p><%= @user.address.line_2 %></p>
<p><%= @user.address.city %></p>

<h1> Friends </h1>
<% if @user.friends.empty? %>
  <p>You do not have any friends!</p>
<% else %>
  <% @user.friends.each do |friend| %>
    <p><%= link_to "#{friend.first_name} #{friend.last_name}", user_path(friend)%></p>
  <% end %>
<% end %> 
Make some <%= link_to 'friends', '/users' %>

<h1> Albums </h1>
<% @user.albums.each do |album| %>
<% end %>
