  <%= link_to 'Log out', '/logout' %>

<h1> Profile </h1>
<p><%= image_tag @user.picture.url(:profile) %></p>
<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Life Status: <%= @user.life_status %></p>
<p>Address: <%= @user.address.one_string %></p>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone_number %></p>
<p>Favorite Movies: <%= @user.movies %></p>
<p>Favorite Books: <%= @user.books %></p>
<% if current_user == @user %>
  <%= link_to 'Edit Profile', edit_user_path(current_user) %>
<% end %>



<h1> Friends </h1>
<% @user.friendships.each do |friendship| %>
  <p><%= image_tag friendship.friend.picture.url(:small)%>  <%= link_to "#{friendship.friend.full_name}", user_path(friendship.friend)%> 
  <% if (@user == current_user) %>
    ( <%= link_to 'Remove friend', {:controller => :friendships, :action => :destroy, :id => friendship.id}%> )
  <% end %></p>
<% end %>
<% @user.inverse_friendships.each do |inverse_friendship| %>
  <p><%= image_tag inverse_friendship.user.picture.url(:small)%>  <%= link_to "#{inverse_friendship.user.full_name}", user_path(inverse_friendship.user)%> 
  <% if (@user == current_user) %>
    ( <%= link_to 'Remove friend', {:controller => :friendships, :action => :destroy, :id => inverse_friendship.id} %> )
  <% end %></p>
<% end %>
<% if @user.all_friends.empty? %>
  <p> No friends yet </p>
<% end %>
<% if current_user == @user %>
  <p><%= link_to 'Find friends', users_path %></p>
<% else %>
  <% unless current_user.has_friend?(@user) %>
    <p><%= link_to 'Add friend',  {:controller => :friendships, :action => :create, :friend_id => @user.id}%></p>
  <% end %>
<% end %> 





<h1> Groups </h1>
<% @user.memberships.each do |membership| %>
  <p><%= image_tag membership.group.picture.url(:small)%> <%= link_to membership.group.name, group_path(membership.group) %>
  <% if (@user == current_user) %>
    <% if @user.owns_group?(membership.group)%>
      ( <%= link_to 'Edit Group', edit_group_path(membership.group) %> <%= link_to 'Delete Group', group_path(membership.group), :method => :delete %>)
  <% else %>
    ( <%= link_to 'Leave Group', {:controller => :memberships, :action => :destroy, :id => membership.id} %> )
  <% end %>
  <% end %></p>
<% end %>
<% if @user.groups.empty? %>
  <p>No groups yet</p>
<% end %>
<% if current_user == @user %>
  <p><%= link_to 'Find groups', groups_path %>, <%= link_to 'Create group', new_group_path %></p>
<% end %> 




<h1> Albums </h1>
<% @user.albums.each do |album| %>
  <p><%= link_to album.name, user_album_path(@user, album) %> 
  <% if (@user == current_user) %>
    ( <%= link_to 'Edit Album', edit_user_album_path(current_user, album) %>,
    <%= link_to 'Delete Album', {:controller => :albums, :action => :destroy, :id => album.id}%> )
  <% end %></p>
<% end %>
<% if @user.albums.empty? %>
  <p>No Albums yet</p>
<% end %>
<% if current_user == @user %>
  <p><%= link_to 'Create New Album', new_user_album_path(current_user) %><%= link_to 'Add Photo', new_user_photo_path(current_user) %></p>
<% end %> 
