<%= image_tag @photo.image.url(:show_size) %>
<p><%= @photo.title %></p>
<% if params[:user_id] == current_user.id.to_s%>
  <p>(<%= link_to 'Edit', edit_user_photo_path(current_user, @photo) %>, <%= link_to 'Remove', user_photo_path(current_user, @photo), :method => :delete %>)</p>
  <% end %>
<% @photo.comments.each do |comment| %>
  <% unless comment.new_record? %>
    <p><%= comment.commentor.first_name %> says
    <%= comment.comment %></p>
  <% end %>
<% end %>

<p>Add comment </p>
<% semantic_form_for @comment, :url => {:controller => :comments, :action => :create} do |form| %>
  <%= form.input :commentable_id, :as => :hidden %>
  <%= form.input :commentable_type, :as => :hidden %>
  <%= form.input :comment %>
  <%= form.buttons %>
<% end %>
