<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> SocialNetwork! </title>
  <%= stylesheet_link_tag 'scaffold', 'default' %>
</head>
<body>
  <div class="utilities" style="font-size:13px;">
  <% if logged_in? %>
     <%= link_to "Home", user_path(current_user)%> <%= link_to "People", "/users"%> <%= link_to "Groups", "/groups" %> <%= link_to 'Log Out', "/logout"%>
  <% else %>
    <%= link_to "Sign Up", "/signup"%> <%= link_to "Sign In", "/login" %>
  <% end %>
  </div>
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>
<%= yield %>
<div class="clearfix" />
</body>
</html>




